
footer {
	text-align: center;
	background-color: #29465D;
	color: #cfdad4;
	padding-top: 10px;
	padding-bottom: 10px;
}

#title {
	margin-top: 30px;
}

#photoParagraph {
	margin: 0;
	text-align: center;
}

#description {
	margin-bottom: 0px;
}

#myPhoto {
	border-radius: 15px;
}

.social {
	text-align: center;
}

.social a {
	text-decoration: none;
}

.balloon {
	position: relative;
	background: #CFDAD4;
	border-radius: .4em;
	padding: 4px;
}

.balloon:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #CFDAD4;
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
}

html {
	background-color: #ebebeb;
}

main {
	background-color: white;
}

li {
	margin: 0px;
}

footer a {
	color: #68A9F2;
	text-decoration: none;
}

footer a:hover {
	color: #68A9F2;
	text-decoration: underline;
}

footer a:visited {
	color: #68A9F2;
}

footer a:active {
    color: white;
}