@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto', sans-serif;
}

.outer {
  overflow: hidden;
  width: 50vw;
}

.inner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60vmin;
  height: 60vmin;
  font-size: 2em;
  text-transform: uppercase;
}

.inner span a {
  text-decoration: none;
}

.left span a {
  color :#1F271B;
}

.right span a {
  color: white;
}

.inner span i {
  transition: all 0.5s ease;
  font-size: 7em;
}

.inner span p {
  margin-bottom: 10vh;
  font-weight: bold;
}

.left {
  color: #1F271B;
  background-color: #CFFFB3;
}

.right {
  color: white;
  background-color: #114B5F;
}

@media (min-width: 900px) {
  .right i:hover {
    transform: rotate(-10deg) scale(1.3);
  }
  
  .left i:hover {
    transform: rotate(10deg) scale(1.3);
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  
  .outer {
    width: 100vw;
  }

  .inner span p {
    margin-bottom: 10vh;
  }

  .inner span i {
    font-size: 3em;
  }
}